  <!--COMP231 Web Application Development - Mantis Developers Team
    --Principal Developers's : 
    ---Name: Ricardo Lopez Tuiran           ---Student ID: 301167302 
    ---Name: Elias Pena Evertz              ---Student ID: 301166037
    ---Name: Silvana Gjini                  ---Student ID: 301201477
    ---Name: Bhupinder Dabb                 ---Student ID: 301187371
    
    --Support Team Members (Secondary Developers, UI/UX Designers)    
    ---Name: Ankit Kodan                    ---Student ID: 
    ---Name: Rishabh Dev Dogra              ---Student ID:
    ---Name: Balkaran Singh                 ---Student ID:
    ---Name: Mehwish Mehmood                ---Student ID:
    ---Name: Ala’a Al-khdour                ---Student ID:    

    --Web App name: Book a'Smile
    --Description: The Dental Appointments Management System is a software application that will allow users to register, 
    --edit and manage their personal accounts, book appointments according to the dentist availability, keep track on appointments 
    --and have a history of procedures with dates and specific notes.   
  -->

<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="container" id="tables">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <br>
          <% if (typeOfUser =='A') { %> 
            <h3>Users List</h3>   
          <% } else { %> 
            <h3>Dentists List</h3>   
          <% } %> 
          <br>       
          <%  if(displayName && typeUser != 'P') { %>  
            <!-- <a href="/dentist/add" class="btn btn-primary"><i class="fa fa-plus"></i> Register a Dentist</a> -->
          <%  } %>  
          <br>
          <br>
          <div class="row justify-content-center">
            <div class="table-responsive-lg">
              <table class="table table-striped">
              <!-- <table class="table table-bordered table-striped table-hover"> -->
                <thead>
                  <tr>                     
                    <% if (typeOfUser =='A') { %> 
                      <th class="text-center">User Name</th>                    
                      <th class="text-center">User Type</th>                  
                    <% } else if (typeOfUser =='P') { %> 
                      <th class="text-center">Patient Name</th>                    
                      <% } else if (typeOfUser =='D') { %> 
                      <th class="text-center">Dentist Name</th>                    
                    <% } %>                     
                    <th class="text-center">Province</th>                  
                    <th class="text-center">Country</th>     
                    
                    <% if (typeOfUser =='A') { %> 
                      <th class="text-center">Specialty (D) / Special Considerations (P)</th>  
                    <% } else if (typeOfUser =='P') { %> 
                      <th class="text-center">Specialty</th>  
                      <% } else if (typeOfUser =='D') { %> 
                        <th class="text-center">Specialty</th>          
                    <% } %>                                                    
                    <%  if(displayName) { %>             
                      <th class="text-center"></th>     
                      <th class="text-center"></th>
                      <th class="text-center"></th>
                      <th class="text-center"></th>
                    <% } %>      
                  </tr>
                  </thead>
                  <tbody>                  
                  <% for (let count = 0; count < dentists.length; count++) { 
                    
                    let typeOfUserDesc;

                      //  console.log(dentists[count]);
                      if (dentists[count].typeOfUser == 'A'){
                        typeOfUserDesc = 'Administrator';
                      } else if (dentists[count].typeOfUser == 'P'){
                        typeOfUserDesc = 'Patient';                      
                      } else if (dentists[count].typeOfUser == 'D'){
                        typeOfUserDesc = 'Dentist';
                      }
                    
                    %>
                  <tr>
                    <td><%= dentists[count].DisplayName %></td>       
                    <% if (typeOfUser =='A') { %> 
                      <td><%=typeOfUserDesc  %></td>       
                    <% } %>                             
                    <td class="text-center"><%= dentists[count].province_state %></td>
                    <td class="text-center"><%= dentists[count].country %></td>
                    <td class="text-center"><%= dentists[count].specialty %></td>

                    <td class="text-center">
                      <a
                      href="/statistics/<%=dentists[count]._id %>"
                      id="statButton"
                      role="button"
                      class="btn btn-secondary btn-sm statistics"
                    >
                    <i class="fa-solid fa-chart-line"></i><span class="btn-text"> Dentist Profile</span>
                    </td>        
                    <% if(displayName && typeUser == "P") { %>
                      <td class="text-center">
                        <a
                        href="/appointment/appointments/<%=dentists[count]._id %>"
                        id="answerButton"
                        role="button"
                        class="btn btn-success btn-sm edit"
                      >
                      <i class="fa-solid fa-pen-to-square"></i><span class="btn-text"> Book Appointment</span>
                      </a>
                      </td>
                    <% } else if(displayName && typeUser == 'A' && 1==2) { %>                                                                             
    
                      <td class="text-center">
                        <a
                        href="/appointment/deleteDentist/<%=dentists[count]._id %>"
                        id="delButton"
                        role="button"
                        class="btn btn-danger btn-sm delete"
                      >
                      <i class="fa-solid fa-trash"></i><span class="btn-text"> Delete</span>
                      </td>                          
                    <% } %>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>          
        </div>
      </div>
    </div>

<%- include('../partials/footer.ejs'); %>


