  <!--COMP231 Web Application Development - Mantis Developers Team
    --Principal Developers's : 
    ---Name: Ricardo Lopez Tuiran           ---Student ID: 301167302 
    ---Name: Elias Pena Evertz              ---Student ID: 301166037
    ---Name: Silvana Gjini                  ---Student ID: 301201477
    ---Name: Bhupinder Dabb                 ---Student ID: 301187371
    
    --Support Team Members (Secondary Developers, UI/UX Designers)    
    ---Name: Ankit Kodan                    ---Student ID: 
    ---Name: Rishabh Dev Dogra              ---Student ID:
    ---Name: Balkaran Singh                 ---Student ID:
    ---Name: Mehwish Mehmood                ---Student ID:
    ---Name: Ala’a Al-khdour                ---Student ID:    

    --Web App name: Book a'Smile
    --Description: The Dental Appointments Management System is a software application that will allow users to register, 
    --edit and manage their personal accounts, book appointments according to the dentist availability, keep track on appointments 
    --and have a history of procedures with dates and specific notes.   
  -->

<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="container" id="tables">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="UserID">User ID</label>
                <input type="text" class="form-control" id="UserIDTextField"
                placeholder="User ID" name="userid" value="<%= users._id %>" disabled>
              </div>
              <div class="form-group">
                <label for="NameTextField">Full Name</label>
                <input type="text" class="form-control" id="NameTextField"
                placeholder="User Name" name="name" value="<%= users.DisplayName %>" required>
              </div>
              <div class="form-group">
                <label for="EmailAddress">Email Address</label>
                <input type="email" class="form-control" id="EmailAddress"
                name="EmailAddress" value="<%= users.EmailAddress %>"  required>                               
              </div>               
              
              <% 
              let edtbirthdate;
              let getSex; 
              let sexSelectedM;
              let sexSelectedF;
              let getAddress; 
              let getCity; 
              let getProvince; 
              let getPostalCode; 
              let getCountry; 
              let getPhoneNumber;
              let getComments; 
              let getSpecialConsiderations;

              let typeUserValSelectedD;
              let typeUserValSelectedP;
              if(typeUserVal) {                
                  //edtbirthdate  = getFormatDate(profiles.dateOfBirth);    
                  //console.log(getFormatDate(profiles.dateOfBirth));
                  edtbirthdate              = getFormatDate(profiles.dateOfBirth);
                  getSex                    = profiles.sex;
                  if (getSex == 'F'){
                    sexSelectedM = '';
                    sexSelectedF = 'selected';
                  } else if (getSex == 'M'){
                    sexSelectedM = 'selected';
                    sexSelectedF = '';
                  }
                  getAddress                = profiles.address;
                  getCity                   = profiles.city; 
                  getProvince               = profiles.province_state; 
                  getPostalCode             = profiles.postalcode;
                  getCountry                = profiles.country; 
                  getPhoneNumber            = profiles.phoneNumber; 
                  getComments               = profiles.comments;                   
                  getSpecialConsiderations  = profiles.specialty;

                  if (typeUserVal == 'D'){
                    typeUserValSelectedD = 'selected';
                    typeUserValSelectedP = '';
                  } else if (typeUserVal == 'P'){
                    typeUserValSelectedD = '';
                    typeUserValSelectedP = 'selected';
                  }
              }               

              if (typeUserVal == 'P'){
                getSpecialConsiderations = profiles.specialConsiderations;
              }%>

              <div class="form-group">
                <label for="BirthDateTextField">Date of Birth</label>
                <input type="date" class="form-control" id="BirthDateTextField"
                placeholder="Birth Date" name="birthDate" value="<%= edtbirthdate %>" required>
              </div>              
              <div class="form-group">
                <label for="TypeOfUser">Type of User</label>
                <br>
                <select name="TypeOfUser" id="TypeOfUser">
                  <!-- <% if (users.TypeOfUser == "A" && title == "Edit Profile") {%> 
                  <option value="A">Administrator</option>                  
                  <% } %>  -->                  
                  <option value="D" <%=typeUserValSelectedD%> >Dentist</option>                  
                  <option value="P" <%=typeUserValSelectedP%>>Patient</option>                  
                </select>
              </div>      
              <div class="form-group">
                <label for="Sex">Sex</label>
                <br>
                <select name="Sex" id="Sex">                  
                  <option value="M" <%=sexSelectedM%>>Male</option>                  
                  <option value="F" <%=sexSelectedF%>>Female</option>
                </select>
              </div>                   
              <div class="form-group">
                <label for="AddressTextField">Address</label>
                <input type="text" class="form-control" id="AddressTextField"
                placeholder="999 Danforth Ave" name="address" value="<%= getAddress %>"  required>                               
              </div>  

              <div class="form-group">
                <label for="CityTextField">City</label>
                <input type="text" class="form-control" id="CityTextField"
                placeholder="Toronto" name="city" value="<%= getCity %>" required>
              </div>
              <div class="form-group">
                <label for="ProvinceTextField">Province</label>
                <input type="text" class="form-control" id="ProvinceTextField"
                placeholder="Ontario" name="province" value="<%= getProvince %>" required>
              </div>
              <div class="form-group">
                <label for="PostalCodeTextField">Postal Code</label>
                <input type="text" class="form-control" id="PostalCodeTextField"
                placeholder="M2M 2M2" name="postalCode" value="<%= getPostalCode %>" required>
              </div>
              <div class="form-group">
                <label for="CountryTextField">Country</label>
                <input type="text" class="form-control" id="CountryTextField"
                placeholder="Canada" name="country" value="<%= getCountry %>" required>
              </div>
              <div class="form-group">
                <label for="PhoneTextField">Phone Number</label>
                <input type="text" class="form-control" id="PhoneTextField"
                placeholder="999-999-9999" name="phoneNumber" value="<%= getPhoneNumber %>" required>
              </div>
              <div class="form-group">
                <label for="CommentsTextField">Comments</label>
                <textarea class="form-control" id="CommentsTextField" name="comments" rows="2" cols="10" 
                placeholder="Morning appointments preferable" value="<%= getComments %>"><%= getComments %></textarea>
              </div>
              <div class="form-group">
                <label for="CommentsTextField">Special Considerations</label>
                <textarea class="form-control" id="CommentsTextField" name="specialConsiderations" rows="2" cols="10" 
                placeholder="Nuts & Penciling Allergy, also had a colon surgery in 2002" value="<%= getSpecialConsiderations %>"><%= getSpecialConsiderations %></textarea>
              </div>
              <br>

              <button type="submit" class="btn btn-primary submit"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/dentist" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>    

<%- include('../partials/footer.ejs'); %>
